.progress-bar {
  position: relative;

  .progress-bar-empty {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 5px;
    background-color: #8b9699;
  }

  .progress-bar-filled {
    width: 0%;
    background: #50fdc6;
    background-image: linear-gradient(82deg, #50fdc6, #3fcaff);
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
  }
}
