.quest-grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 356px;
  height: 481px;
  border: solid 1px #e5e5e5;
  margin: 13px;

  @include responsive(mobile) {
    min-width: 80vw;
    margin: 13px 0px;
  }

  & > div {
    line-height: 1;
  }

  .category-badge {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.625rem;
    margin-left: 8px;
    color: #fff;
    background-color: #1890ff;

    &.game {
      background-color: #0ab06a;
    }

    &.website {
      background-color: #f5a623;
    }

    &.gadget {
      background-color: #bd10e0;
    }
  }

  .quest-badge {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    top: 25px;
    left: 25px;
    padding: 9px 8px;
    background-image: linear-gradient(75deg, #50fdc6, #3fcaff);

    .icon {
      width: 11px;
      height: auto;
      object-fit: contain;
    }

    p {
      margin: 0px;
      font-size: 0.875rem;
      font-weight: 500;
      color: #212121;
    }
  }

  .top-container {
    position: relative;
    width: 100%;
    height: 290px;
    background: #f5f5f5;

    .thumbnail {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  .bottom-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    padding: 25px;

    .bounty-text-container {
      margin-left: 12px;
    }

    .vertical-divider {
      width: 1px;
      height: 40px;
      background: #8b9699;
    }

    .grid-item-icon {
      width: 32px;
      height: 32px;

      @include responsive(mobile) {
        width: 24px;
        height: 24px;
      }
    }

    .subheader {
      font-size: 1.125rem;
      font-weight: 400;

      span {
        font-size: 14px;
      }

      @include responsive(mobile) {
        font-size: 1rem;
      }
    }

    .subtext {
      font-size: 0.75rem;
      margin-top: 2px;
      @include responsive(mobile) {
        font-size: 0.625rem;
      }
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.375rem;
      text-transform: uppercase;
      font-weight: 500;
      line-height: normal;
      letter-spacing: normal;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      margin: 0px;
    }

    .description {
      font-size: 1rem;
      line-height: normal;
      letter-spacing: normal;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;

      margin-top: 2px;
      color: #8b9699;
    }

    .two-lines {
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      white-space: normal;

      //fallback for non webkit
      max-height: 28px;
    }
  }
}

.empty-grid-item {
  width: 356px;
  height: 0px;
  margin: 13px;

  @include responsive(mobile) {
    width: 90vw;
  }
}

.content-loading-item {
  width: 356px;
  height: 481px;
}
