.submitted-item {
  position: relative;
  min-width: 255px;
  max-width: 300px;

  .submitted-item-img {
    width: 100%;
    height: 450px;
    object-fit: contain;
    background: #f5f5f5;
  }

  .submitted-item-type {
    margin-top: 16px;
  }

  .submitted-item-title {
    margin-top: 2px;
    margin-bottom: 7px;
  }

  .submitted-item-button {
    display: flex;
    width: 48%;
    justify-content: center;
    align-items: center;
  }

  .bottom-divider {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 30px 0px;
  }

  .approved-rejected-icon {
    position: absolute;
    left: 15px;
    top: 15px;

  }
}

.prev-button {
  position: absolute;
  left: -80px;
  top: 40%;

}

.next-button {
  position: absolute;
  right: -80px;
  top: 40%;
}