.auth-page {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
	// justify-content: center;
	padding: 150px 0px;

	@include responsive(mobile) {
		padding: 100px 0px;
	}

	.rh-logo {
		width: 80px;
		height: 80px;
		object-fit: contain;
	}

	.join-text {
		font-family: Comfortaa, cursive;
		font-size: 2rem;
		margin-top: 20px;
	}

	.form-container {
		display: flex;
		flex-direction: column;
		width: 720px;
		background: $opacity-black;
		margin-top: 30px;

		@include responsive(mobile) {
			margin: 30px 20px 0px;
			width: auto;
		}

		.tab-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.tab-item-container {
			display: flex;
			align-items: center;
			justify-content: space-around;
		}

		.tab-item {
			display: flex;
			flex: 1;
			height: 54px;
			align-items: center;
			justify-content: center;

			&:hover {
				cursor: pointer;
			}
		}

		.tab-highlight-container {
			position: relative;
		}

		.tab-highlight-gray {
			height: 2px;
			background: #2f2f2f;
		}

		.tab-highlight {
			position: absolute;
			height: 4px;
			width: 50%;
			top: -1px;
			transition: left 0.2s;
		}
	}

	.input-container {
		padding: 28px;

		.ant-select {
			width: 100%;
			margin-top: 10px;
		}

		input {
			margin-top: 10px;
		}

		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		textarea:-webkit-autofill,
		textarea:-webkit-autofill:hover,
		textarea:-webkit-autofill:focus,
		select:-webkit-autofill,
		select:-webkit-autofill:hover,
		select:-webkit-autofill:focus {
			-webkit-text-fill-color: #fff;
			-webkit-box-shadow: 0 0 0px 1000px #000 inset;
		}

		.auth-form-input,
		.ant-input,
		.ant-select-selection {
			width: 100%;
			background: transparent;
			background-color: transparent;
			border-width: 0px;
			border-color: #2f2f2f;
			border-bottom-width: 1px;
			border-right-width: 0px !important;
			border-right-style: none;
			border-radius: 0px;
			font-size: 1rem;
			color: #fff;

			svg {
				fill: #fff;
			}

			.anticon-eye,
			.anticon-eye-invisible {
				margin-top: 8px;
			}

			&:hover {
				border-color: $primary !important;
			}

			&.ant-select-selection {
				border-color: #2f2f2f !important;
				&:hover {
					border-color: $primary !important;
				}
			}
		}

		.form-section-title {
			font-size: 0.875rem;
			margin-top: 40px;
		}

		.policy-agree-text {
			font-size: 0.75rem;
			line-height: 1.5;
			text-align: center;
			margin-top: 32px;

			a {
				text-decoration: underline;
				color: #8b9699;
			}
		}
	}

	.gradient-button {
		width: 100%;
		border: none;
		margin-top: 32px;
		font-size: 1rem;

		&:hover {
			background: $primary;
			color: #000;
		}
	}

	.onboarding-container {
		width: 720px;
		margin-top: 70px;
		background: $opacity-black;

		@include responsive(tablet) {
			width: auto;
			margin: 30px 20px 0px;
		}

		.onboarding-header {
			display: flex;
			flex-direction: column;
			padding: 30px;
		}

		.onboarding-header-text {
			font-size: 1.25rem;
			margin-bottom: 20px;
		}

		.onboarding-content {
			font-size: 0.75rem;
			padding: 30px;
		}

		.channel-add-container {
			margin-top: 10px;
			margin-bottom: 40px;

			.ant-input-group-wrapper {
				height: 42px;
				border: 1px solid #8b9699 !important;
			}

			.ant-input-group-addon {
				border-radius: 0px;
				height: 40px;
				border: none;
				background-color: #2f2f2f;
				color: #3fcaff;
				font-size: 1rem;

				&:hover {
					cursor: pointer;
				}
			}

			.delete-input > * > .ant-input-group-addon {
				background: #fa4400;
				svg {
					fill: #fff;
				}
			}


			.ant-select-selection,
			select,
			input {
				height: 40px;
				border-radius: 0px;
				background-color: #2f2f2f;
				border: none;
				color: #8b9699;
				font-size: 1rem;

				&::placeholder {
					color: #8b9699;
				}
			}

			.ant-select-selection,
			select {
				height: 42px;
				border: 1px solid #8b9699 !important;
			}

			.ant-select-selection-selected-value {
				margin-top: 6px;
			}

			input {
				border-right-color: transparent !important;
			}

			.ant-select {
				margin-right: 16px;
			}

			.ant-select-selection {
				width: 180px;
				color: #8b9699;

				@include responsive(mobile) {
					width: 100%;
					margin-right: 0px;
					margin-bottom: 8px;
				}
			}
		}

		.buzz-channel-item {
			position: relative;
			display: flex;
			margin-top: 30px;

			.buzz-icon-container {
				position: relative;
				.overlapped-approved-icon {
					position: absolute;
					right: 0px;
					bottom: 0px;
				}
			}

			.approved-text {
				color: #7ed321;
				margin-left: 4px;
			}

			.buzz-channel-container {
				width: 270px;
			}

			.buzz-channel-icon {
				width: 30px;
				height: 30px;
				border-radius: 15px;
			}

			.buzz-delete-icon {
				width: 30px;
				height: 30px;
				margin-left: 15px;
			}

			.buzz-channel-text {
				margin-left: 10px;
			}

			.buzz-summary {
				display: flex;
				flex-direction: column;
				width: 100%;
			}

			.buzz-link {
				width: 100%;
				border: solid 1px #8b9699;
				background-color: #2f2f2f;
				padding: 5px 15px;
			}

			a {
				color: #8b9699;
			}

			.buzz-stat-container {
				border-left: solid 2px #8b9699;
				margin-top: 20px;
				padding-left: 14px;
				line-height: 1.43;
				span {
					font-weight: bold;
				}
			}
		}

		.social-channel-container {
			margin-top: 20px;
		}

		.channel-text {
			min-width: 146px;
			font-size: 0.875rem;
			margin: auto;

			@include responsive(mobile) {
				min-width: auto;
				margin-left: 0px;
				margin-bottom: 8px;
			}
		}

		.add-text {
			margin: auto;
			@include responsive(mobile) {
				margin-left: 16px;
			}
		}

		.delete-button {
			@include responsive(mobile) {
				margin-left: 16px;
			}
		}

		.skip-button {
			margin: 14px 0px;
			text-align: center;
			font-size: 1rem;
		}

		.divider {
			height: 1px;
			background: #2f2f2f;
			margin: 0px;
		}
	}

	.onboarding-text {
		width: 464px;
		text-align: center;
		margin-top: 40px;
		line-height: 1.29;
		font-size: 0.875rem;

		@include responsive(mobile) {
			width: auto;
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	.onboarding-social-row {
		margin-top: 16px;
	}

	.description-text {
		width: 720px;
		text-align: center;
		margin-top: 30px;
		line-height: 1.29;
		font-size: 1.25rem;

		&.onboarding {
			@include responsive(mobile) {
				width: auto;
				margin-left: 20px;
				margin-right: 20px;
			}
		}

		@include responsive(mobile) {
			width: auto;
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	.login-button-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 720px;
		height: 48px;
		background: $opacity-black;
		margin-top: 20px;

		@include responsive(tablet) {
			border: none;
		}

		@include responsive(mobile) {
			border: none;
		}
	}
}

.fancy-canvas {
	position: fixed;
	width: 100vw;
	height: 100vh;
}
