.campaign-page {
  min-height: 100vh;
  background: #fff;

  & > div {
    line-height: 1.2;
  }

  .banner-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: space-around;
    padding-top: 115px;
    padding-bottom: 40px;

    @include responsive(mobile) {
      // min-height: 100vh;
    }

    .line {
      width: 35px;
      height: 1px;
      border: solid 1.5px #0a0a0a;
      margin: 15px 0px 20px 0px;
    }

    .product-category {
      font-family: "Comfortaa", cursive;
      font-weight: bold;
      font-size: 1rem;
      color: #0a0a0a;
    }

    .product-name {
      font-size: 2.25rem;
      font-weight: bold;
      margin-top: 5px;
      color: #0a0a0a;
      text-transform: uppercase;
    }

    .product-users {
      font-size: 1.125rem;
      color: #212121;
    }

    span {
      font-weight: bold;
    }

    .quest-progress-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;

      @include responsive(mobile) {
        justify-content: center;
      }
    }

    .quest-step {
      display: flex;
      flex: 1;
      align-items: center;
      min-height: 8vh;

      @include responsive(mobile) {
        align-items: flex-start;
      }

      .quest-step-text {
        position: relative;
        margin-left: 9px;
      }

      .price-text {
        font-size: 0.875rem;
        font-weight: 500;
        color: #212121;
      }

      .quest-text {
        font-size: 0.875rem;
      }

      .step-divider {
        display: flex;
        flex: 1;
        height: 1px;
        background: #000;
        margin: 0px 26px 0px 26px;
        opacity: 0.4;

        @include responsive(tablet) {
          margin: 0px 8px 0px 8px;
        }

        @include responsive(mobile) {
          width: 1px;
          margin-left: 16px;
        }
      }

      .step-image-container {
        position: relative;
        img {
          width: 30px;
          height: 30px;
        }
      }

      .quest-star {
        position: absolute;
        left: 28%;
        top: -16px;
        -webkit-animation: rotateY 1.5s linear infinite;
        -moz-animation: rotateY 1.5s linear infinite;
        animation: rotateY 1.5s linear infinite;
        animation-direction: alternate-reverse;
        -moz-animation-direction: alternate-reverse;
        -webkit-animation-direction: alternate-reverse;
      }
    }
  }

  .product-info {
    background: #fff;

    .title {
      font-family: "Comfortaa", cursive;
      font-size: 1.5rem;
      font-weight: bold;
      color: #0a0a0a;
    }

    .show-more-desc {
      position: relative;
      font-size: 1.125rem;
      line-height: 1.29;
      overflow: hidden;
      // white-space: nowrap;
      text-overflow: ellipsis;
      color: #8b9699;
      transition: height 1s linear;
    }

    .show-more-white-gradient {
      position: absolute;
      content: "";
      left: 0px;
      top: 0px;
      height: 100%;
      width: 100%;
      background: linear-gradient(transparent, #fff);
    }

    .carousel-container {
      position: relative;
      margin: 20px 0px 30px;
      height: 480px;
      @include responsive(mobile) {
        margin: 20px 0px 80px;
      }
    }

    .carousel-control-button {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 50%;

      &.left {
        left: -60px;

        @include responsive(mobile) {
          left: 35%;
          top: 104%;
        }
      }

      &.right {
        right: -60px;
        @include responsive(mobile) {
          right: 35%;
          top: 104%;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .margin-right-text {
      padding-right: 360px;
      @include responsive(tablet) {
        padding-right: 24px;
      }
    }

    .show-more-container {
      display: flex;
      margin-top: 12px;
    }

    .show-more {
      font-size: 0.875rem;
      line-height: 1.29;
      color: #3fcaff;
    }

    .down-arrow {
      margin-left: 8px;
      transition: transform 0.1s linear;

      &.rotated {
        transform: rotate(180deg);
      }

      &.unrotated {
        transform: rotate(0deg);
      }
    }

    .progress-bar-text {
      display: flex;
      justify-content: space-between;
      margin-top: 4px;
      font-size: 1.125rem;
      color: #0a0a0a;
      font-weight: normal;
    }

    .please-note {
      font-size: 1.125rem;
      line-height: 1.5;
      color: #8b9699;
      margin-top: 21px;
    }

    .screenshot-img {
      max-width: 500px;
      margin-right: 20px;
      height: 480px;
      object-fit: contain;

      @include responsive(mobile) {
        max-width: 80vw;
        height: 368px;
      }
    }

    .quest-icon {
      width: 44px;
      height: 44px;
      object-fit: contain;
    }

    .quest-carousel-item {
      position: relative;
      padding: 30px;
      width: 600px;
      height: 480px;
      border: solid 1px #e5e5e5;
      margin-right: 10px;

      @include responsive(mobile) {
        width: 80vw;
      }

      .quest-item-id {
        font-size: 0.875rem;
      }

      .quest-item-title {
        font-size: 1.375rem;
        margin-top: 5px;
      }

      .bounty-text {
        font-size: 1.5rem;
      }

      .bounty-tag {
        display: inline-block;
        padding: 4px 12px;
        border-radius: 4px;
        margin-top: 15px;
        font-size: 0.875rem;
      }

      .quest-description-container {
        display: flex;
        margin-top: 21px;

        @include responsive(mobile) {
          flex-direction: column;
          align-items: center;
        }

        .quest-description {
          font-size: 0.75rem;
          font-weight: 300;
          width: 220px;
          line-height: 1.33;
        }

        .quest-image {
          width: 202px;
          max-height: 300px;
          margin-left: 30px;
          object-fit: contain;

          @include responsive(mobile) {
            margin-left: 0px;
            margin-top: 16px;
            max-width: 100%;
          }
        }
      }
    }
  }

  .agree-check {
    margin: 30px 0;
  }

  .url-icon-container {
    margin-top: 30px;
  }

  .url-icon {
    width: 34px;
    height: 34px;
    padding: 8px;
    border: 1px solid #0a0a0a;
    border-radius: 17px;
    margin-left: 5px;
    &:first-child {
      margin-left: 10px;
    }
  }

  .section-divider {
    height: 1px;
    border: solid 1px #e5e5e5;
    margin: 30px 0px 30px 0px;
  }
}

@-moz-keyframes rotateY {
  100% {
    -moz-transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotateY {
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes rotateY {
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
