.home-page {
  .banner-content {
    padding-top: 120px;

    h1,
    h2,
    p {
      color: #0a0a0a;
    }

    h1 {
      font-family: "Comfortaa", cursive;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: normal;
      @include responsive(mobile) {
        font-size: 0.75rem;
      }
    }

    h2 {
      font-size: 2.25rem;
      font-weight: bold;
      line-height: 1;
      letter-spacing: normal;
      font-stretch: condensed;
      margin: 0px;
      @include responsive(mobile) {
        font-size: 1.25rem;
      }
    }
  }

  .stat-container {
    display: flex;
    flex-direction: row;
    margin-top: 18px;

    @include responsive(mobile) {
      flex-direction: column;
      align-items: flex-start;
    }

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      @include responsive(mobile) {
        width: 40px;
        height: 40px;
      }
    }

    h1 {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: normal;
      letter-spacing: normal;
      margin: 0px;
      @include responsive(mobile) {
        font-size: 0.875rem;
      }
    }

    h2 {
      font-size: 0.75rem;
      font-weight: normal;

      @include responsive(mobile) {
        font-size: 0.625rem;
      }
    }

    .stat-item {
      &:last-child {
        margin-left: 64px;
    @include responsive(mobile) {
      margin-left: 0px;
      margin-top: 40px;
    }
      }
    }

    .stat-item-text-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 6px;
    }

    .stat-text {
      margin-left: 10px;
      h1 {
        font-size: 1.375rem;
        span {
          font-size: 0.875rem;
        }
      }
      h2 {
        margin-top: 0.125rem;
        font-size: 0.875rem;
      }
    }
  }

  .loading-content {
    display: inline;
  }

  .grid-wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 128px;

    @include responsive(mobile) {
      padding: 60px 24px;
    }

    @include responsive(tablet) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include responsive(bigscreen) {
      padding-left: calc((100% - 1172px) / 2);
      padding-right: calc((100% - 1172px) / 2);
    }
  }

  .grid-dropdown {
    margin-left: 26px;
    margin-bottom: 20px;
    width: 180px;

    @include responsive(tablet) {
      margin-left: 16px;
    }

    @include responsive(mobile) {
      margin-left: 0px;
    }
  }

  .grid-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    @include responsive(tablet) {
      margin-left: 0px;
    }
  }

  .call-to-action {
    // padding: 50px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(mobile) {
      padding: 50px 40px;
    }

    .logo-circle {
      width: 80px;
      height: 80px;
    }

    .call-to-action-title {
      max-width: 359px;
      font-size: 2.75rem;
      font-weight: bold;
      line-height: 0.82;
      letter-spacing: -1.5px;
      margin-top: 20px;
      @include responsive(mobile) {
        font-size: 2rem;
      }
    }

    .call-to-action-desc {
      max-width: 464px;
      font-size: 1.125rem;
      color: #2f2f2f;
      margin-top: 40px;
      @include responsive(mobile) {
        font-size: 1rem;
      }
    }

    .button-container {
      margin-top: 40px;
    }
  }
}
