.campaign-creator {
  .campaign-step {
    .step-title {
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-top: 5px;
    }

    .title-input-container {
      margin-top: 20px;
    }

    .title-input-header {
      font-size: 0.875rem;
      text-transform: uppercase;
    }

    .title-input-box {
      width: 100%;
      min-height: 28px;
      font-size: 0.875rem;
      border-radius: 0px;
      padding: 0px 15px;
      margin-top: 5px;
    }

    .title-text-area {
      width: 100%;
      min-height: 28px;
      font-size: 0.875rem;
      border-radius: 0px;
      padding: 10px 15px;
      margin-top: 5px;
    }

    .title-icon-input-box {
      padding: 0px;
      position: relative;

      input {
        border-left-width: 0px;
      }

      span {
        background-color: #fff;
      }
    }

    .save-next-container {
      display: flex;
      margin-top: 16px;
      justify-content: space-between;
      align-items: center;
      font-size: 0.875rem;

      &.step5 {
        margin-top: 60px;
      }
    }

    .ant-collapse {
      margin-top: 20px;
      background: #fff;
      border: none;
    }

    .add-more-quest {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80px;
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 0.75rem;
      color: #0a0a0a;
      background-color: #f4f4f4;

      .add-more-text {
        margin-top: 6px;
      }
    }

    .save-delete-container {
      display: flex;
      margin-top: 16px;
      align-items: center;
      justify-content: flex-end;

      .delete-button {
        margin-right: 32px;
      }
    }

    .url-container {
      margin-left: 26px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .url-icon-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      border: solid 1px #0a0a0a;
      border-radius: 9px;
      padding: 4px;

      img {
        width: 10px;
        height: 10px;
      }
    }

    .url-href {
      font-size: 0.875rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #3fcaff;
      text-decoration: underline;
      margin-left: 8px;
    }

    .url-desc {
      font-size: 0.875rem;
      margin-left: 8px;
    }

    .review-checkbox-container {
      display: flex;
      flex-direction: column;
      margin-top: 23px;

      .ant-checkbox-wrapper {
        margin: 7px 0px;
      }

      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #3fcaff;
        border-color: #3fcaff;
      }
    }

    .review-buzz-text {
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .budget-slider {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-top: 25px;

      .budget-title {
        font-size: 0.875rem;
      }

      .budget-value {
        font-size: 1.5rem;
        min-width: 100px;
        max-width: 140px;
        text-align: center;
      }

      .slider-container {
        margin-top: 8px;
      }

      .slider {
        display: flex;
        flex: 1;
        margin-left: 60px;
      }

      .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
        border-color: #0a0a0a;
      }

      .ant-slider-track {
        background-color: #0a0a0a;
      }

      .ant-slider-handle {
        width: 28px;
        height: 28px;
        margin-top: -12px;
        margin-left: -14px;
        border: solid 2px #0a0a0a;
      }
    }

    .reward-details {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 30px;
      background-color: #f4f4f4;
      margin-top: 45px;
    }

    .reward-detail-row {
      display: flex;
      align-items: flex-start;
      min-height: 48px;
      padding: 16px 0px;

      .reward-row-tag {
        width: 25%;
        text-align: start;
      }

      .reward-row-content {
        display: flex;
        flex: 1;
        align-items: flex-start;
        flex-direction: column;
        line-height: 1.4;
      }
    }

    .reward-details-text {
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .max-result-text {
      align-self: flex-start;
      text-align: start;
      margin-top: 15px;
    }

    .app-review-item {
      margin-top: 8px;
    }

    .icon-detail-container {
      display: flex;
      flex-wrap: wrap;
    }

    .icon-detail-item {
      margin-top: 20px;
      width: 50%;
    }

    .icon-detail-logo {
      width: 40px;
      height: 40px;
    }

    .icon-detail-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 8px;
    }

    .fullscreen-img {
      position: absolute;
      width: 64px;
      height: 64px;
      right: 20px;
      top: 20px;
    }

    .click-to-exit {
      position: fixed;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      top: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      animation: fadein 1.7s;
    }
  }
}

.content-dashboard {
  border: solid 1px #e5e5e5;
  padding: 30px;

  .ant-menu-item:hover {
    color: #fff;
  }

  .ant-menu-horizontal > .ant-menu-item:hover,
  .ant-menu-horizontal > .ant-menu-item-selected {
    color: #0a0a0a;
    border-bottom: 1px solid #0a0a0a;
  }

  .select-filter {
    align-self: flex-end;
  }

  .menu-container {
    position: relative;
    margin: 20px 0px;
  }

  .ant-select-selection-selected-value {
    height: 40px;
  }

  .ant-select {
    position: absolute;
    right: 0px;
  }

  .ant-select-selection {
    width: 150px;
    font-size: 14px;
    border-bottom: none !important;
  }

  .stat-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .submitted-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .dashboard-approve-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }

  .dashboard-stat-item {
    display: flex;
    flex-direction: column;
    flex: 1;

    .stat-item-line {
      width: 20px;
      height: 2px;
      background-color: #8b9699;
    }

    .stat-item-title {
      margin-top: 10px;
      margin-bottom: 3px;
    }

    .stat-item-value {
      font-size: 1.375rem;
      font-weight: 500;
      color: #212121;
    }
  }

  .review-buzz-graph {
    .review-stat-icons {
      margin: 16px 0px 20px;
    }
    .review-buzz-icon {
      width: 40px;
      height: 40px;
      border: solid 1px #0a0a0a;
      border-radius: 20px;
      padding: 8px;
      margin-right: 8px;
    }

    .review-icon-item {
      margin-right: 16px;
    }

    .graph-items-container {
      margin: 10px 0px;
    }

    .graph-item {
      position: relative;
      width: 100%;
      margin: 4px 0px;

      .graph-title {
        margin-left: 10px;
        min-width: 100px;
      }

      .graph-bar-container {
        width: 100%;
      }

      .graph-bar {
        height: 4px;
        border-radius: 6px;
        background-color: #8b9699;
        margin-right: 10px;
      }
    }
  }
}

.content-history {
  border: solid 1px #e5e5e5;
  padding: 30px;

  .history-item {
    line-height: 1.5;

    .history-item-title {
      margin-bottom: 4px;
    }

    span {
      font-weight: normal;
      color: #000;
    }

    img {
      width: 110px;
      height: 110px;
      background: #eee;
      margin-right: 20px;
    }

  }

}

