.profile-page {
  min-height: 100vh;

  & > div {
    line-height: 1.2;
  }

  .banner-container {
    padding-top: 115px;
    padding-bottom: 50px;
  }

  .maker-profile {
    padding-bottom: 40px;
  }

  .summary-container {
    display: flex;
  }

  .divider {
    opacity: 0.6;
    height: 1px;
    background-color: #e5e5e5;
  }

  .clock-icon {
    width: 17px;
    height: 17px;

    @include responsive(mobile) {
      width: 12px;
      height: 12px;
    }
  }

  .value-container {
    display: flex;
    flex: 1;
    max-height: 28px;
    background-color: #e5e5e5;
    border: 0px;
    border-radius: 0px;
    font-size: 1rem;
    color: #8b9699;

    .ant-input {
      background-color: #e5e5e5;
      color: #8b9699;
      border: none;
      border-radius: 0px;
    }

    &.select {
      padding: 0px;
    }

    &.password {
      @include responsive(mobile) {
        margin: 0px 0px 16px;
      }
    }

    @include responsive(mobile) {
      width: 100%;
      margin: 16px 0px;
    }
  }

  .channel-select {
    max-width: 180px;
    margin-right: 20px;

    @include responsive(mobile) {
      max-width: 100%;
      margin: 0px;
    }
  }

  .gray-bg-select {
    & > .ant-select-selection {
      display: flex;
      flex: 1;
      max-height: 28px;
      border-width: 0px;
      background: transparent;
      color: #8b9699;
      font-size: 1rem;
      border: none !important;
    }
  }

  .summary-item {
    display: flex;
    align-items: center;
    margin-right: 58px;

    @include responsive(tablet) {
      min-width: 40%;
    }

    .summary-icon {
      width: 60px;
      height: 60px;
      @include responsive(mobile) {
        width: 40px;
        height: 40px;
      }
    }

    .text-container {
      margin-left: 14px;

      .summary-title {
        font-size: 1.375rem;
        font-weight: 500;
        color: #212121;
        @include responsive(mobile) {
          font-size: 1rem;
        }

        span {
          font-size: .875rem;
        }
      }

      .summary-subtitle {
        font-size: 1.125rem;
        font-weight: normal;
        color: #0a0a0a;
        @include responsive(mobile) {
          font-size: 0.875rem;
        }
      }
    }
  }

  .tab-container {
    display: flex;
    justify-content: space-between;

    @include responsive(tablet) {
      flex-direction: column;
    }

    @include responsive(mobile) {
      padding-top: 32px;
    }

    .tabs {
      width: 20%;
      margin-right: 20px;

      @include responsive(tablet) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        overflow: -moz-scrollbars-vertical;
        overflow-x: scroll;
        align-items: center;
      }

      .tab-item {
        font-size: 1.125rem;
        margin-bottom: 16px;
        color: #8b9699;

        @include responsive(tablet) {
          text-align: center;
          margin-right: 48px;
        }

        &.selected {
          color: #0a0a0a;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .tab-sub-item {
        font-size: 1.125rem;
        display: flex;
        align-items: center;
        color: #8b9699;
        margin: 4px 0px;

        &.selected {
          color: #0a0a0a;
        }

        &:last-child {
          margin-bottom: 16px;
        }

        .dot {
          width: 4px;
          height: 4px;
          border-radius: 8px;
          margin-right: 10px;
          background-color: #8b9699;
          &.selected {
            background-color: #000;
          }
        }
      }
    }

    .tab-content {
      width: 80%;

      @include responsive(tablet) {
        width: 100%;
        margin-top: 32px;
      }

      @include responsive(mobile) {
        margin-top: 16px;
      }
    }

    .content-title {
      min-width: 200px;
      font-size: 1.25rem;
      font-weight: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-bottom: 30px;
      text-transform: uppercase;

      &.social,
      &.steemhunt {
        margin-bottom: 0px;
      }
    }

    .social-title-container {
      margin: 30px 0px 21px;
    }

    .steem-connect {
      border: solid 1px #e5e5e5;
      padding: 30px;
      margin-bottom: 20px;

      .profile-icon-container {
        margin-top: 16px;
      }

      .profile-icon {
        width: 34px;
        height: 34px;
        background: #eee;
        border-radius: 17px;
        margin-right: 8px;
      }

      .profile-icon-text {
        font-size: 1rem;
      }

      .steem-connect-button {
        width: auto;
        margin-left: 60px;
        margin-top: 0px;
        @include responsive(mobile) {
          width: 100%;
          margin-left: auto;
          margin-top: 32px;
        }
      }

      .steem-connected-container {
        @include responsive(mobile) {
          align-items: flex-start;
        }
      }
    }

    .content-profile {
      border: solid 1px #e5e5e5;
      //TODO: make responsive
      padding: 30px;

      .social-connect-tip {
        font-size: 0.875rem;
        color: #8b9699;
        margin-bottom: 32px;
      }

      .profile-row {
        display: flex;
        min-height: 45px;
        flex-direction: column;

        .text-container {
          display: flex;
          flex: 1;
          align-items: center;

          @include responsive(mobile) {
            flex-direction: column;
            align-items: flex-start;
          }
        }

        .title {
          display: flex;
          align-self: flex-start;
          margin-top: 14.5px;
          min-width: 240px;
          font-size: 1rem;
          color: #8b9699;
          text-transform: uppercase;
        }

        .password-container {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-around;
          height: 82px;

          @include responsive(mobile) {
            width: 100%;
          }
        }

        .social-container {
          display: flex;
          flex: 1;
          align-items: center;
          max-height: 28px;
          overflow: hidden;

          .social-value {
            margin-left: 10px;
            color: #8b9699;
            font-weight: normal;
          }

          .social-delete-button {
            margin-left: 8px;

            &:hover {
              cursor: pointer;
            }
          }

          @include responsive(mobile) {
            width: 100%;
            margin: 16px 0px;
          }
        }

        .value {
          // height: 16px;
          font-size: 1rem;
          font-weight: 500;
          color: #0a0a0a;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @include responsive(mobile) {
            width: 100%;
            margin: 16px 0px;
          }
        }
      }

      .button-container {
        display: flex;
        align-items: center;
        margin-top: 32px;
      }

      .cancel-button {
        font-size: 1rem;
        margin-left: 46px;
        color: #ff4500;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .content-channels {
    border: solid 1px #e5e5e5;
    padding: 30px;
  }

  .content-quest {
    border: solid 1px #e5e5e5;
    padding: 30px;

    @include responsive(mobile) {
      padding: 30px 0px;
      border: solid 0px #e5e5e5;
      border-top-width: 1px;
    }

    .quest-item-row {
      position: relative;
      display: flex;
      flex-direction: column;
      min-height: 148px;

      @include responsive(mobile) {
        min-height: 132px;
      }
      &:hover {
        cursor: pointer;
      }

      .quest-item-container {
        display: flex;
        flex: 1;
        align-items: center;
        width: 100%;
        &.ended {
          opacity: 0.3;
        }
      }

      .quest-img {
        width: 110px;
        height: 110px;
        object-fit: contain;

        @include responsive(mobile) {
          width: 80px;
          height: 80px;
        }
      }

      .quest-info {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 8px;
      }

      .quest-title-container {
        display: flex;
        justify-content: space-between;

        .quest-title {
          font-size: 1.125rem;
          color: #0a0a0a;
          text-transform: uppercase;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @include responsive(mobile) {
            font-size: 1rem;
          }
        }

        .quest-time-container {
          display: flex;
          align-items: center;
        }

        .quest-time-left {
          font-size: 0.75rem;
          color: #8b9699;
          margin-left: 4px;

          @include responsive(mobile) {
            font-size: 10px;
          }
        }
      }

      .quest-tag-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 8px;
      }
    }

    .current-quest {
      .back-icon {
        width: auto;
        height: 12px;
      }

      .header-text {
        font-size: 0.875rem;
        margin-left: 6px;
        color: #8b9699;
      }

      .header-title {
        font-size: 1.75rem;
        margin-top: 12px;
      }

      .header-description {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.29;
        margin-top: 2px;
      }

      .info-number {
        font-size: 1rem;
      }

      .info-title {
        font-size: 1.25rem;
        margin: 5px 0px 8px;
      }

      .info-description {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.33;
        margin: 20px 0px;

        &.small-margin {
          margin: 5px 0px 20px;
        }

        &.review {
          margin: 5px 0px;
          span {
            margin: 0 16px 0 8px;
          }
        }
      }

      .info-quest-image {
        width: auto;
        max-height: 273px;
        margin: 10px 0px;
        object-fit: contain;
      }

      .info-subheading {
        font-size: 1.25rem;
        margin-top: 20px;
      }

      .screenshot-example {
        margin-left: 20px;
      }

      .text-device {
        margin-top: 10px;
      }

      .skip-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;

        svg {
          margin-left: 4px;
        }
      }
    }

    .channel-submission-items {
      display: flex;
      flex-wrap: wrap;
      margin-left: -7.5px;
    }

    .buzz-warning-text {
      margin: 10px 0px;
    }

    .channel-submission-item {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 254px;
      height: 254px;
      background-color: #e5e5e5;
      margin: 7.5px;
      line-height: 1.29;

      .complete-overlay {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 254px;
        height: 254px;
        padding: 15px;
        background-color: rgba(255, 255, 255, .5);

        img {
          width: 30px;
          height: 30px;
        }
      }

      .channel-icon-right-corner {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        object-fit: contain;
      }

      .channel-submission-icon {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        object-fit: contain;
      }

      &.unregistered {
        background-color: #fff;
        border: solid 1px #e5e5e5;
      }

      .channel-submission-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .channel-expected-earning {
          font-size: 0.875rem;
          height: 40px;
          margin-top: 16px;
          text-align: center;
        }
      }

      .channel-text {
        font-size: 1.25rem;
        line-height: 1.29;
        margin-top: 4px;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .history-message-item {
    background: #e5e5e5;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 20px;

    .message-text {
      margin-left: 8px;
    }

    img {
      width: 20px;
      height: 20px;
    }

    a {
      color: blue;
    }
  }

  .buzz-estimation-container {
    border: solid 1px #0ab06a;
    background-color: #f7ffee;
    padding: 20px;

    .estimation-text {
      font-size: 1.25rem;
    }

    .registered-channel-text {
      margin-top: 32px;
    }

    .buzz-channel-stats {
      border-left: solid 2px #8b9699;
      padding-left: 14px;
      margin-top: 10px;
      font-size: .875rem;
      line-height: 1.43;
    }

    span {
      color: #f5222d;
    }

    a {
      color: #003cd3;
      text-decoration: underline;
    }

  }
}

.ant-modal {
   // width: 760px !important;

  .ant-modal-content {
    // width: 760px;
  }
  .submission-modal {
    .submission-modal-title {
      font-size: 1.5rem;
      margin-bottom: 40px;
    }

    .submission-modal-header {
      margin-top: 20px;
    }

    .submission-modal-desc {
      margin-top: 10px;
    }

    .submission-modal-guidelines {
      font-size: 0.75rem;
    }
  }
}
