.product-page {
  & > div {
    line-height: 1;
  }

  //TODO: move to common
  .banner-container {
    height: 396px;
    padding: 120px;
    background-image: linear-gradient(69deg, #50fdc6, #3fcaff);

    .line {
      width: 35px;
      height: 1px;
      border: solid 1.5px #0a0a0a;
      margin: 15px 0px 20px 0px;
    }

    .product-category {
      font-family: 'Comfortaa', cursive;
      font-weight: bold;
      font-size: 1rem;
      color: #0a0a0a;
    }

    .product-name {
      font-size: 2.25rem;
      font-weight: bold;
      margin-top: 5px;
      color: #0a0a0a;
    }

    .product-users {
      font-size: 0.875rem;
      color: #212121;
    }

    span {
      font-weight: bold;
    }

    .quest-step-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    .quest-step {
      display: flex;
      align-items: center;

      .quest-step-text {
        margin-left: 9px;
      }

      .price-text {
        font-size: 0.875rem;
        font-weight: 500;
        color: #212121;
      }

      .quest-text {
        font-size: 0.75rem;
      }

      .step-divider {
        width: 40px;
        height: 1px;
        border: solid 1px #0a0a0a;
        margin: 0px 26px 0px 26px;
      }
    }

    .join-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 34px;
      border: solid 1px #0a0a0a;
      font-size: 0.75rem;
      margin-top: 30px;
    }
  }

  .product-info {
    padding: 50px 120px 50px 120px;

    .title {
      font-family: 'Comfortaa', cursive;
      font-size: 1rem;
      font-weight: bold;
      color: #0a0a0a;
    }

    .desc {
      font-size: 0.875rem;
      line-height: 1.29;
      color: #8b9699;
    }

    .show-more-container {
      display: flex;
      margin-top: 12px;
    }

    .show-more {
      font-size: 0.875rem;
      line-height: 1.29;
      color: #3fcaff;
    }

    .down-arrow {
      margin-left: 8px;
    }

    .progress-bar-empty {
      height: 29px;
      background-color: #f0f0f0;
    }

    .progress-bar-empty {
      position: relative;
      height: 29px;
      background-color: #f0f0f0;
      margin-top: 21px;
    }

    .progress-bar-filled {
      position: absolute;
      width: 100px;
      height: 29px;
      background-image: linear-gradient(86deg, #50fdc6, #3fcaff);
    }

    .progress-bar-text {
      display: flex;
      justify-content: space-between;
      margin-top: 4px;
      font-size: 0.875rem;
      color: #0a0a0a;
      font-weight: normal;
    }

    .please-note {
      font-size: 0.75rem;
      line-height: 1.5;
      color: #8b9699;
      margin-top: 21px;
    }
  }

  .section-divider {
    height: 1px;
    border: solid 1px #e5e5e5;
    margin: 30px 0px 30px 0px;
  }
}
