html,
body,
.ant-list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #fff;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3,
h5,
h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

button,
.thin {
  font-weight: 300;
}

html,
body,
.root,
.app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: none;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.sans {
  font-family: "Open Sans", sans-serif;
}

.mobile-hidden {
  @include responsive(tablet) {
    // max-width: 1023
    display: none !important;
  }
}

.mobile-only {
  display: none;
  @include responsive(tablet) {
    display: block;
  }
}

.one-column-hidden {
  @include responsive(tablet) {
    // max-width: 1023
    display: none !important;
  }
}

.two-column-hidden {
  @media only screen and (min-width: 1024px) {
    display: none !important;
  }
}

.text-right {
  text-align: right;
}

.hide {
  display: none !important;
}

.faded {
  opacity: 0.3;
}

.pull-right {
  float: right;
}

.spacer {
  margin: 0 0.5em;
}

.top-margin {
  margin-top: 0.5em !important;
}

.text-small {
  font-size: 0.875rem !important;
}

.text-tiny {
  font-size: .75rem !important;
}

.text-big {
  font-size: 1.125rem !important;
}

.text-subheader {
  font-size: 1.5rem !important;
}

.round-border {
  border-radius: 9950vh !important;
}

.padded-container {
  padding: 60px 120px;

  @include responsive(mobile) {
    padding: 60px 1.5rem;
  }
}

.primary-gradient {
  background-color: #50fdc6;
  background-image: linear-gradient(82deg, #50fdc6, #3fcaff);
}

.inversed-color {
  background-color: #fff !important;
  color: $primary !important;
  border-color: #fff !important;
}

.padded-button {
  padding: 0.875em 2.25em !important;
  height: auto !important;
  font-weight: 300 !important;
  text-decoration: none !important;
  line-height: 1.2 !important;

  span {
    height: auto !important;
    line-height: 1.2 !important;
  }

  @include responsive(mobile) {
    font-size: 0.8rem;
  }
}

.pink {
  color: $primary;
}

.pink-filled {
  background-color: rgba(252, 111, 111, 0.5);
}

.top-banner-bar {
  display: none;
  color: #fff;

  @include responsive(tablet) {
    position: absolute;
    height: 50px;
    z-index: 320;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background: #333;
  }

  @include responsive(tiny) {
    font-size: 0.875rem;
  }
}

.with-banner {
  @include responsive(tablet) {
    margin-top: 50px;
  }
}

.content-body {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  position: relative;

  @include responsive(tablet) {
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  }
}

.fake-link {
  cursor: pointer;
  color: $primary;
}

[role="button"] {
  cursor: pointer;
}

.hover-link {
  transition: color 0.3s ease;

  &:hover {
    cursor: pointer;
    color: $primary;
  }
}

// MARK: - AndDesign override

.ant-btn {
  &:active {
    text-decoration: none;
  }
}

.ant-carousel .slick-dots {
  bottom: 14px;

  li {
    border-radius: 50vh;
    overflow: hidden;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);

    button {
      opacity: 0.5;
      height: 4px;
      border-radius: 50vh;
      width: 24px;
      overflow: hidden;
    }

    &.slick-active {
      button {
        width: 36px;
      }
    }
  }
}

.center-loading {
  text-align: center;
  display: block;
  margin: 40px 0;
  color: $primary;

  &.full-page {
    svg {
      // override ant.design
      display: inline-block;
    }

    margin: 0;
    height: 60vh;
    line-height: 60vh;
  }
}

.diagonal-split-view {
  overflow-x: hidden;
  position: relative;

  .top-container {
    font-size: 1rem;
    padding: 30px 20px 150px 20px;
    text-align: center;
    color: #fff;

    @include responsive(tablet) {
      padding: 23px 20px 150px 20px;
    }

    @include responsive(mobile) {
      font-size: 0.8rem;
    }

    .featured-date {
      display: inline-block;
      margin-bottom: 48px;
    }

    h1 {
      font-size: 3.125em;
      margin-bottom: 0;
      color: #fff;
    }

    h2 {
      margin-top: 0.75em;
      margin-bottom: 2rem;
      font-size: 1.25em;
      color: #fff;
      font-weight: 300;
    }
    .checkitout-button {
      margin-top: 0.75rem;
    }
  }

  .diagonal-line {
    width: 110%;
    height: 150px;
    margin-left: -5%;
    margin-top: -2.5vw;
    position: absolute;
    background-color: #fff;
    transform: rotate(-5.5deg);
    z-index: 1;
  }

  .bottom-container {
    text-align: center;
    z-index: 10;
    position: relative;

    .timeline-container {
      padding-top: 20px;
      text-align: left;
      font-size: 0.875rem;
      overflow: hidden;
      display: block;

      .left {
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 1.14;
        margin-top: -3px;
        color: #bbb;
        text-align: right;
        width: 50%;
        padding-right: 15px;

        li {
          padding-bottom: 25px;
        }
      }
      .ant-timeline {
        // override
        float: left;
        color: #666;
        width: 50%;
        margin-left: -5px;

        .ant-timeline-item-last .ant-timeline-item-content {
          min-height: auto;
        }
      }
    } // .timeline-container
  } // .bottom-container
} // .diagonal-split-view

.left-margin {
  margin-left: 0.5rem;
}

.left-padded {
  padding-left: 120px;

  @include responsive(ipadpro) {
    padding-left: 40px;
  }

  @include responsive(tablet) {
    padding-left: 20px;
  }
}

.right-padded {
  padding-right: 120px;

  @include responsive(ipadpro) {
    padding-right: 40px;
  }

  @include responsive(tablet) {
    padding-right: 20px;
  }
}

.heading {
  position: relative;

  h3 {
    font-size: 1.375rem;
    margin-bottom: 0;
    color: $primary;

    .close-button {
      margin-left: 10px;
      color: #ccc;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .heading-sub {
    color: $text_dark;
    font-size: 0.875rem;
    margin-bottom: 2rem;

    @include responsive(tablet) {
      margin-bottom: 1.5rem;
    }
  }
} // .heading

.level-help {
  ol {
    padding-left: 2em;
  }
}

.party-container {
  height: 42px;
  margin-bottom: -24px;
}

.party {
  font-size: 1em;
  width: 1em;
  display: inline-block;
  margin: -0.5em 0 0 0.3125em;

  &.big {
    font-size: 1.875em;
    margin-left: 0;
  }
}

///////////////////////////////////////////////
// TODO: Refactor other common css

.col-justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-align-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-align-between {
  display: flex;
  align-items: space-between;
}

.row-align-start {
  display: flex;
  align-items: flex-start;
}

.row-align-center {
  display: flex;
  align-items: center;
}

.row-align-end {
  display: flex;
  align-items: end;
}

.row-space-between {
  display: flex;
  justify-content: space-between;
}

.row-space-around {
  display: flex;
  justify-content: space-around;
}

.col {
  display: flex;
  flex-direction: column;
}

.text-black {
  color: $text_black;
}

.text-grey {
  color: $text_grey;
}

.text-light-grey {
  color: #e5e5e5;
}

.text-off-white {
  color: #f4f4f4;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #3fcaff;
}

.text-warning {
  color: #ff597a;
}

.banner-header {
  font-family: "Comfortaa", cursive;
  font-size: 1rem;
  font-weight: bold;
  color: #0a0a0a;
  text-transform: uppercase;
  @include responsive(mobile) {
    font-size: 0.875rem;
  }
}

.banner-subheader {
  font-size: 2.25rem;
  font-weight: bold;
  margin-top: 5px;
  color: #0a0a0a;
  text-transform: uppercase;
  @include responsive(mobile) {
    font-size: 1.625rem;
  }
}

.banner-line {
  width: 35px;
  height: 1px;
  border: solid 1.5px #0a0a0a;
  margin: 15px 0px 20px 0px;
}

.simple-button {
  display: inline-block;
  padding: 12px 32px;
  border: solid 1px #0a0a0a;
  font-size: 0.75rem;
  text-align: center;
  color: #0a0a0a;
  text-transform: uppercase;

  &.danger {
    color: #f5222d;
    border: solid 1px #f5222d;

    &:hover {
      color: #fff;
      background: #f5222d;
      border: solid 1px #f5222d;
      // transform: scale(1.02);
      @include responsive(tablet) {
        border: solid 1px #f5222d;
        color: #f5222d;
        background: #fff;
      }
    }
  }

  &:hover {
    cursor: pointer;
    color: #fff;
    background: #000;
    border: solid 1px #000;
    // transform: scale(1.02);
    @include responsive(tablet) {
      border: solid 1px #0a0a0a;
      color: #0a0a0a;
      background: #fff;
    }
  }

  @include responsive(mobile) {
    font-size: 0.5rem;
  }
}

.quest-tag {
  display: inline-block;
  border-radius: 4px;
  padding: 3px 10px;
  font-size: 0.75rem;
  color: #0a0a0a;
  margin-right: 4px;
  background-color: #50fdc6;
  background-image: linear-gradient(82deg, #50fdc6, #3fcaff);

  &.complete {
    background-color: #e5e5e5;
    background-image: none;
  }

  @include responsive(mobile) {
    font-size: 8px;
    padding: 4px 5px;
  }
}

.full-width-button {
  padding: 10px;
  font-weight: 300;
  font-size: 0.75rem;
  text-align: center;
  background: #000;
  color: #fff;

  &:hover {
    cursor: pointer;
    background: #404040;

    @include responsive(tablet) {
      background: #000;
      color: #fff;
    }
  }
}

.ant-select-selection {
  border: solid 0px #8b9699 !important;
  border-bottom-width: 1px !important;
  border-right-style: none !important;
  border-radius: 0px !important;
  font-size: 1rem;
  color: #0a0a0a;
  width: 180px;

  svg {
    fill: #8b9699;
  }
}

.bold-span {
  span {
    font-weight: bold;
  }
}

.grey-border {
  border: solid 1px #2f2f2f;
}

.uppercase {
  text-transform: uppercase;
}

.light-grey-border {
  border: solid 1px #e5e5e5;
}

.full-width {
  width: 100%;
}

.divider-line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 32px 0px;
}

.col-on-mobile {
  display: flex;
  flex: 1;

  @include responsive(mobile) {
    flex-direction: column;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
